<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eshop</title>
    <link rel="stylesheet" href="./static/style/styles.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

</head>
<body>  

    <header id="header"> 
        
        <div class="upper-div">
            <div id="header-selectors">

                <div id="left-space">

                </div>
                
                <div id="left-headers"> 

                    <div class="navbar change" id="sidebar-close" onclick="menu_function(this)">

                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                    
                    <span class="option-select" onclick="Home_Style()"><a href="#">Home</a></span>
                </div>

                <div id="main-title">
                    <h1>E-SHOP</h1>
                </div>

                <div id="right-headers">
                    <span class="option-select" onclick="Login_Style()">Login</span>
                    <span class="option-select" onclick="Register_Style()">Register</span>
                </div>
            </div>
        </div>

    </header>


    <main role="main">








    </main>

    <footer id="footer">

        <h5>  footer</h5>
        <div class="lower-div">
            <div id="lower-footer">
                
            </div>
        </div>
    </footer>
    <script src="./static/js/styles.js"></script>
    <script src="./static/js/main.js"></script>


</body>
</html>