
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Jost', sans-serif;
    background-color: whitesmoke;
}
  
main {
    overflow: scroll;
    flex-direction: column;
    justify-content: start;
}

button {
    padding: 10px;
    width: 70px;
  }
  

#productsDisplay {  
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-content: center; */

    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
    
}


#basketDisplay {
    display: none;
    flex-direction: column;

    width: 65%;
    height: 100%;

    margin-bottom: 30px;

}

#basket-info {
    display: flex;
    flex-direction: row;

    border: solid 3px gray;
    border-radius: 10px;
    outline: 0;
    
    padding: 5px;
    height: 100%;
}

#basket-customer-info {
    display: flex;
    flex-direction: column;
    justify-content: start;

    border: solid 3px gray;
    border-radius: 3px;
    outline: 0;

    padding: 5px;


    height: 100%;
}

#basket-customer-info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: solid 3px gray;
    border-radius: 3px;
    outline: 0;

    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 70%;
}

#place-order {
    height: 30%;

    display: flex;
    justify-content: center;
    align-content: center;

    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid 3px gray;
    border-radius: 3px;
    outline: 0;
}

#place-order input {
    border: solid 3px gray;
    border-radius: 3px;
    outline: 0;

    width: 130px;
    font-size: 15px;
    margin: initial;
    padding: initial;
}

.scrollable-container {
    margin: 4px, 4px;
    padding: 4px;
    overflow-x: hidden;
    overflow-y: auto;
}

#basket-products {
    height: 100%;
    width: 100%;

    border: solid 3px gray;
    border-radius: 3px;
    outline: 0;

    /* margin: 10px; */
    padding: 10px;
    margin-left: 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    

}

#basket-product, #order-product {
    display: flex;
    flex-direction: column;

    margin-top: 5px;
    margin-bottom: 5px;

    border: solid 3px gray;
}

#basket-product-headers, #order-product-headers {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#basket-product-headers h4, #order-product-headers h4 {
    text-align: start;
    width: 50%;

    padding-left: auto;
    padding-right: auto;
}

#basket-product-headers span {
    text-align: end;
    width: 50%;
}

#basket-product-footer, #order-product-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* text-align: center; */
}

#basket-product-amount {
    width: 50%;
}

#basket-product-price {
    width: 50%;
}
  
#product {
    flex: 1 1 160px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin: 20px;
    max-width: 300px;
}

#product input {
    all: initial;
}

#product div {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#product div input {
    width: 50px;
    margin-left: 40px;
    border: 3px solid #ddd;
    border-radius: 5px;

}
#products-header {
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

    margin-top: 25px;
    margin-bottom: 25px;

    /* border: 5px solid #ddd; */
}

#orders-header, #basket-header {

    display: flex;
    justify-content: center;
    /* align-items: center; */

    margin-top: 25px;
    margin-bottom: 25px;

    /* border: 5px solid #ddd; */

}



#search-fields {

    margin-top: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

#search-fields input {
    height: 40px;
    width: 250px;
}

#search-fields label {
    margin-right: 20px;
}

#products-header h1, #products-header h2, #orders-header h1, #orders-header h2, #basket-header h1, #basket-header h2 {
    text-align: center;
}

#products-headers h1 {
    margin-bottom: 40px;
}



#orders-header {
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

    margin-top: 25px;
    margin-bottom: 25px;

    /* border: 5px solid #ddd; */
}


#ordersDisplay {

    display: none;
    flex-direction: column;
    
    


}




.order {
    width: 100%;
    margin: 20px;

    border: 3px solid gray;

    height: 200px;

}

#order-info {
    display: flex;
    flex-direction: row;


    
    padding: 5px;
    height: 100%;
}

#order-customer-info {

    display: flex;
    flex-direction: column;
    justify-content: start;

    border: solid 3px gray;
    border-radius: 3px;
    outline: 0;

    padding: 5px;

    width: 20%;
    height: 100%;
}

#order-product {
    margin: 5px;
}

.order-products {
    height: 100%;
    width: 100%;

    border: solid 3px gray;
    border-radius: 3px;
    outline: 0;

    /* margin: 10px; */
    padding: 10px;
    margin-left: 5px;

    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */

    max-width: 1050px;
    

}

#order-customer-info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: solid 3px gray;
    border-radius: 3px;
    outline: 0;

    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 70%;
}



#order-status {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 30%;
}
