html, body {

    margin:0;
    padding:0;
    border:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;

    position: relative;
}

header {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 45px;

    background-image: url("../assets/purple_background.png");
    background-size: cover; /* This makes the image cover the entire container */
    /*background-position: center; /* Center the image horizontally and vertically */
    background-repeat: no-repeat; /* Prevent the image from repeating */


    border-bottom: 10px groove rgb(128, 18, 128);
}

main {


    flex: 1;

    width: 100%;
    background-color: rgba(202, 194, 194, 0.315);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 98;


}

footer {
    background-color: #617798;
    
    height: 30px;
    width: 100%;
    padding-bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

span {
    user-select: none;
}

span a {
  all: unset;
}


/* Header styles */

#header-selectors {


    height: 50px;

    /* border-bottom-width: 2px;
    border-bottom-style: dotted;
    border-bottom-color: #582AA4;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    border-top-width: 2px;
    border-top-style: inset;
    border-top-color: #582AA4;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;


    border-left-width: 2px;
    border-left-style: inset;
    border-left-color:rgba(243, 70, 234, 0.699);

    border-right-width: 2px;
    border-right-style: inset;
    border-right-color:rgba(243, 70, 234, 0.699); */
    
    padding-left: 5px;
    padding-right: 5px;

    margin-top: 15px;


    
    
    background-color: rgba(73, 69, 69, 0.116);
    color: rgb(155, 124, 173);

    

    display: flex;
    justify-content: center;
    align-items: center;

    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #cf3a96, 0 0 30px #cf3a96, 0 0 40px #cf3a96, 0 0 55px #cf3a96, 0 0 75px #cf3a96
        
    
    


}

#header-selectors span:hover {
  color: magenta;
  cursor: pointer;

}

#left-space {
    /* width: 22%; */
    display: none;
}



#left-headers {
    width: 45%;
    display: flex;
    justify-content: start;
    align-items: start;
    transition: all 0.5s ease;

    
}

#right-headers {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}




#main-title {

    /* border: 5px solid #ece7e7;
    border-radius: 50px; */

    user-select: none;

    margin-left: 50px;


    height: 100px;
    width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

}

#main-title h1 {
    font-size: 60px;
    padding-top: 10px;
}

.option-select{
    /* border: 1px dotted black; */
    font-size: 40px;
    
    margin-left: 50px;
    
}















/* Form styles */




#login-register-form {

    position: relative;
    text-align: center;
    /* border: 3px solid #030303;
    border-radius: 50px; */
    
    
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 70px;
    margin-bottom: 250px;

    display: none;

    font-size: 30px;

    width: 500px;
    height: 300px;
    

}

.register-form {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#side-labels {
  display: grid;
  margin-top: 80px;
  margin-bottom: 90px;

  visibility: hidden;
  
}

.register-form label {
  font-size: 15px;
  margin-left: 31px;
}

#register-tag {
    margin-bottom: 20px;
}


.select-role {
  font-size: 15px;
  width: 300px;
  height: 60px;

  margin-top: 20px;

  
  
}


form > p {
    user-select: none;
}


input {
    border: solid 3px #bbb4bb;
    border-radius: 5px;
    outline: 0;
    width: 300px;
    background: #FFFFFF;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;

    font-size: 20px;

    margin: 10px;


    box-shadow: 8px 8px 6px 1px rgba(29, 26, 26, 0.08);

}




input:hover, input:focus {
    border-color: #1c928c;
    box-shadow: 5px 5px 15px 5px #47454538;

}

input::placeholder{
    text-align: center;
}

input#submit-login-button, input#submit-register-button {
    width: 150px;
    height: 45px;
    padding: 9px 15px;
    background: #a6adb8;
    /* border: 0; */
    font-size: 20px;
    font-style: bold;
    /* color: #FFFFFF; */
    border: 0;
    
    margin-top: 60px;
    
}

input#submit-login-button:hover, input#submit-register-button:hover {
    box-shadow: 5px 5px 15px 5px #47454538;
    color: rgb(80, 59, 80);
}






/* Menu bar control */

.navbar {
    display: inline-block;
    cursor: pointer;

    z-index: 101;

  }
  
  .bar1{
    width: 35px;
    height: 5px;


    background-color: #615e5e;
    margin: 6px 0;
    transition: 0.4s;

    transform: translate(0, 11px) rotate(-45deg);

    
  }

  .bar2 {

    width: 35px;
    height: 5px;

    background-color: #615e5e;
    margin: 6px 0;
    transition: 0.4s;

    opacity: 0;
  }

  .bar3 {
    width: 35px;
    height: 5px;


    background-color: #615e5e;
    margin: 6px 0;
    transition: 0.4s;

    transform: translate(0, -11px) rotate(45deg);

    
  }
 

  
  .change .bar1 {
    transform: translate(0, 0px) rotate(0deg);
  }
  
  .change .bar2 {


    opacity: 1;  
  }
  
  .change .bar3 {
    transform: translate(0, 0px) rotate(0deg);
  }







/* Side Menu style */


  /* Import Google font - Poppins */
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .sidebar {
    position: fixed;
    height: 100%;
    width: 10px;
    background: #11101d;
    padding: 15px;
    z-index: 99;

    transition-property: all;
    transition-duration: 0.1s;
    transition-delay: 0.1s;

    display: flex;
    flex-direction: column;

    
  }

  #sidebar-top-seperator {
    padding-top: 10px;
  }

  .admin-control {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .qr-code {
    position: relative;
    width: 100%;
    height: 200px;
  }
  
  .sidebar > hr {
    height: 10px;
  }

  .logo {
    font-size: 25px;
    padding: 0 15px;

    height: 40px;
  }
  .sidebar a {
    color: #fff;
    text-decoration: none;
    width: 100px;
  }
  .menu-content {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 40px;
    overflow-y: scroll;
  }
  .menu-content::-webkit-scrollbar {
    display: none;
  }
  .menu-items {
    height: 100%;
    width: 100%;
    list-style: none;
    transition: all 0.4s ease;
  }
  .submenu-active .menu-items {
    transform: translateX(-56%);
  }
  .menu-title {
    color: #fff;
    font-size: 14px;
    padding: 15px 20px;
  }
  .item a,
  .submenu-item {
    padding: 16px;
    display: inline-block;
    width: 100%;
    border-radius: 12px;
  }
  .item i {
    font-size: 12px;
  }
  .item a:hover,
  .submenu-item:hover,
  .submenu .menu-title:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  .submenu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;
  }
  .submenu {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: calc(-100% - 26px);
    height: calc(100% + 100vh);
    background: #11101d;
    display: none;
  }
  .show-submenu ~ .submenu {
    display: block;
  }
  .submenu .menu-title {
    border-radius: 12px;
    cursor: pointer;
  }
  .submenu .menu-title i {
    margin-right: 10px;
  }

  .sidebar
 {
  left: 0px;
  width: calc(20% - 50px);
  transition: all 0.5s ease;
  z-index: 100;
}
.sidebar.close 
{
  padding: 0 0;
  left: 0;
  width: 0px;

  visibility: hidden;

}

a + hr {
  margin-top: 25px;
}
